# Default ignored files
/../../../../../Bài tập CodeGym/CGDN-C0824M1-ChauVanNguyen/Module 3/CaseStudy/.idea/shelf/
/../../../../../Bài tập CodeGym/CGDN-C0824M1-ChauVanNguyen/Module 3/CaseStudy/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../Bài tập CodeGym/CGDN-C0824M1-ChauVanNguyen/Module 3/CaseStudy/.idea/httpRequests/
